.env
pg_data

/bot-server/node_modules
/bot-server/.env
/bot-server/bot-strategy.txt

/api-server/node_modules
/api-server/dist
/api-server/dumpdb

/database/source/maingenres.txt
/database/source/result.json
/database/db-strategy.txt
/database/.env
/database/dist
